.bootstrap .btn-success {
    color: #333;
    background-color: #72C279;
    border-color: #60ba68;
}

.public_api {
  display: block;
}
.bootstrap .col-lg-offset-3 {
         margin-left: 0%;
}
.bootstrap .fixed-width-lg {
    width: 300px!important;
}
.bootstrap .fixed-width-xl {
    width: 200px!important;
}